

:root {
    --pink1: #e32f4c;
    --pink2: #ff374e;
    --blue1: #5ac4f2;
    --blue2: #255bd4;
    --darkBlue: #151d7c;
    --darkPurple: #270044;
    --pblack: #130328
}
/*FONTS*/
* {
    font-family: 'Anton', sans-serif;
}

/*HOVER EFFECT*/
.hovEff {
    padding: 9px 25px;
    color: black;
    border-radius: 50px;
    cursor: pointer;

}

.hovEff :hover {
    opacity: 90%;
    box-shadow: 0 0 25px var(--blue2), 0 0 10px var(--darkBlue);
}
/*ADD/EDIT FORM */
.under {
    background-image: linear-gradient(to right, var(--pink1), var(--pblack));
    z-index: 1;
}
/*STYLING FOR BTN */
.colorBtn {

    background-image: conic-gradient(var(--darkPurple), var(--darkBlue), var(--pink2), var(--darkPurple));
}

.addBtn {
    color: white;
    background-image: linear-gradient(to right, var(--blue1), var(--pink1));
}

.edBtn {
    color: white;
    background-image: linear-gradient(to right, var(--blue2), var(--darkBlue));
}

.rfBtn {
    color: white;
    background-image: linear-gradient(to right, var(--pblack), var(--blue2));
}

.srBtn {
    color: white;
    background-image: linear-gradient(to right, var(--pink2), var(--blue2));
}
/*CARDS STYLING*/
.cardHeight {
    height: 95%;
    width: auto;
    object-fit: contain;
}

.cardMinHeight {
    min-height: 50vh;
}

.hideOption {
    display: none;
}
/*BODY STYLING*/
body {
    background-color: black;
}
/*NAV STYLING*/
nav {
    background-color: var(--pblack);;
}

