
:root {
    --color-1: rgba(37, 245, 227, 0.5);
    --color-2: rgba(141, 182, 247, 0.6);
    --color-3: rgba(141, 182, 247, 0.7);
    --color-4: rgb(220, 127, 76);
    --color-5: rgba(141, 182, 247, 0.9);
    --color-6: rgb(90, 175, 75);
    --color-7: rgba(141, 182, 247, 0.9);
    --color-8: rgba(94, 239, 77, 0.4);
    --color-9: rgba(111, 59, 255, 0.8);
    --color-10: rgba(255, 0, 0, 0.9);
    --color-11: rgba(255, 255, 0, 0.6);
    --color-12: rgba(189, 128, 48, 0.42);
    --color-13: rgba(255, 165, 0, 0.5);
    --color-14: rgba(142, 238, 65, 0.6);
    --color-15: rgba(255, 165, 0, 0.9);
    --color-16: rgba(255, 20, 147, 0.3);
    --color-17: rgba(224, 84, 223, 0.6);
}


